################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/xlloption/v16
/Debug
/packages/gsl-msvc-x64.2.4.0.8788
/x64/Debug
/.vs
/packages/gsl-msvc-x86.2.4.0.8788
/improve.xlsx
/Release
/x64/Release
