[submodule "fms_option"]
	path = fms_option
	url = https://github.com/keithalewis/fms_option.git
[submodule "fms_variate"]
	path = fms_variate
	url = https://github.com/keithalewis/fms_variate.git
[submodule "xll_variate"]
	path = xll_variate
	url = https://github.com/xlladdins/xll_variate.git
